*.exe
*.lock.hcl
*\terraform.tfvars
AKS Monitoring/Infra/terraform.tfvars
AKS Monitoring/Infra/terraform.state.backup
AKS Monitoring/Infra/terraform.state
AKS Monitoring/Infra/variables.tfvars
AKS Monitoring/k6-operator
